[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pipfile = "*"
django-ckeditor = "*"
django-ckeditor-5 = "*"
django-jazzmin = "*"
django-shortuuidfield = "*"

[dev-packages]

[requires]
python_version = "3.9"
